@font-face {
    font-family: 'Monserrat';
    src: url('Montserrat.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monserrat", sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 45px;
}
li::marker {
    color: rgb(80, 100, 255);
    font-size: 33px;
}
.text {
    color: white;
}

.photo--no-bg .text {
    color: #333;
}
.normaltext {
    font-size: 25px;
}
.bold{
    font-weight: 700;
}
.text-dark {
    color: slategray;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
}
.span {
    background-color: azure;
    color: gray;
    width: max-content;
    border-radius: 5px;
    padding: 15px;
}
.button {
    display: flex;
    border: 0;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    padding-block: 30px;
    line-height: 1.52;
    background: yellow;
    color: black;
    justify-content: center;
    font-size: 18px;
    font-family: "Monserrat", sans-serif;
    transition-duration: 0.1s;
}
.button:hover {
    color: white;
    background: gray;
    /* width: 202px;
    padding-block: 32px;
    font-size: 19px;*/
    cursor: pointer; 
    transform: scale(1.05);
}
.button:focus {
    outline: none;
    color: white;
    background-color: black;
    transition-duration: 0.15s;
    padding-block: 30px;
    font-size: 18px;
}
.header {
    position: absolute;
    inset: 0 0 auto 0;
}
.header-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 30px;
    gap: 100px;
}
.header__item {
    display: flex;
    gap: 20px;
}
.header__item * {
    margin: 0;
}
.logo {
    margin-right: auto;
}
.hero {
    background: url(img/bg.jpg) center / cover no-repeat;
}
.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: center;
    padding-top: clamp(50px, 6.1vw, 118px);
    padding-bottom: min(24.1vw, 465px);
}
.hero-description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hero-catalog-go {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.catalog__headline {
    margin: 0;
    margin-bottom: 4.1vmax;
    font-size: 48px;
}
.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.container__img {
    width: 100%;
}
.catalog__container {
    padding-block: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-inline: 34px;
}
.catalog__name {
    font-size: 25px;
}
.catalog__price::after {
    content: " ₽/шт.";
}
.catalog__button {
    max-width: 150px;
    padding-block: 20px;
}
.photo {
    position: relative;
    background: url(img/photo-image.png) left bottom no-repeat, linear-gradient(90deg, rgb(0, 0, 10), rgb(15, 15, 70));
}

.photo__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    justify-content: center;
    padding-top: clamp(50px, 6.1vw, 118px);
    padding-bottom: min(24.1vw, 465px);
    gap: 48px;
}
.photo__description {
    grid-column-start: 2;
    display: flex;
    padding-top: 150px;
    flex-direction: column;
    gap: 40px;
}

.photo__upload {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.photo::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    background: url(img/cloud-1.png) center / cover no-repeat;
    width: 100%;
    height: 330px;
}
.photo::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background: url(img/cloud-2.png) center / cover no-repeat;
    width: 100%;
    height: 489px;
}
.photo--no-bg {
    background: rgba(0,0,0,0)
}
.photo--no-bg .photo__description {
    grid-column-start: 1;
}
.photo--no-bg, ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
}
.photo__image-container {
    position: relative;
    padding-top: 150px;
    text-align: center;
}
.photo__image {
    width: 100%;
    max-width: 500px;
    text-align: center;
}
.photo__name {
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo__name-item {
    background-color: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
    width: max-content;
    font-size: 18px;
    padding: 20px;
    transform: skew(-10deg);
    border-radius: 3px;
}
.photo__name-item--main {
    background-color: rgb(90, 90, 90);
    color: white;
    font-size: 25px;
}
.photo__name-item span {
    transform: skew(10deg);
    display: block;
}
.reviews {
    background: linear-gradient(90deg, rgb(0, 0, 10), rgb(15, 15, 70));
}
.swiper-slide {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px;
}
.swiper-review {
    display: flex;
}
.swiper-text-content {
    flex-basis: 50%;
}
.swiper-text {
    line-height: 1.7;
}
.swiper-profile {
    align-content: center;
    flex-basis: 50%;
}
.swiper-profile * {
    text-align: center;
}
.swiper-image {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.swiper-title {
    font-size: 30px;
}
.swiper-link {
    text-decoration: underline;
}
.swiper-name {
    font-size: 30px;
}
.swiper-address {
    color: gray;
}
//комментарий
